header {
    position: absolute;
    width: 100%;
    color: white;
    padding: 20px;
    z-index: 20;
    .logo {
        display: inline-block;
        position: fixed;
left:0;
top:0;
margin-top: 20px;
margin-left: 20px;
        // padding: 20px 10px;
    }
    nav {
        display: block;
        float: right;
        text-align: right;
        a {
            display: inline-block;
            color: white;
            text-decoration: none;
            //  margin-left: 50px;
            padding: 0px 10px;
        }
    }
}